[user]
	name = Cibil
	email = cibil51@gmail.com
[color]
	ui = auto

[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
[url "https://github.com/"]
	insteadOf = git://github.com/
[core]
	editor = vim
	# pager = less -x4

[alias]
	rh = reset HEAD^
	push-branch = "!f(){ git push origin HEAD:$1 -f; };f"
	r = "!f(){ git rebase -i HEAD~$1; };f"
	rb = "!f(){ git rebase -i $1; };f"
	f = fetch origin
	c = "!f(){ git checkout $1; };f"
	s = status
	d = diff
	l = log
	sh = show
	can = commit -a --amend --no-edit
[pretty]
	fixes = Fixes: %h (\"%s\")
	list = * %s
